streamlit
langchain
langchain-openai
langchain-community
langchain-core
langchain-cohere
python-dotenv
pandas
numpy
scikit-learn
sentence-transformers
transformers
torch
cohere
openpyxl
faiss-cpu
chromadb
tiktoken
openai